// ---------- LAYOUT ---------- //
@mixin flex($d:column, $j:space-evenly, $a:center) {
    display: flex;
    flex-direction: $d;
    justify-content: $j;
    align-items: $a;

    @if ($j == 'space-evenly' or $j == 'space-between') {
        width: -webkit-fill-available;
    }
}

// ---------- MEDIA QUERIES ---------- //
@mixin mq($break) {
    $value: map-get($breakpoints, $break);

    @media (min-width: $value) {
        @content;
    }
}

// ---------- FOCUS STATES ---------- //
@mixin focus() {
    outline: none;
    border: $border-focus;
    background-color: rgba($color-accent-light, .25);
    padding: 5%;
    transform: scale(1.5);
    border-radius: 25px 0 25px 0;
}