// ---------- COLORS ---------- //
$color-lightest: white;
$color-darkest: black;

// ---------- BORDERS ---------- //
$border-thin: 1px solid $color-darkest;

// ---------- MARGIN ---------- //
$pad-sect: 5% 10%;

// ---------- PORTFOLIO SECTION ----------//
$folio-height-sm: 50px;
$folio-width-sm: 100%;
$folio-brdrad-sm: 25px 50px;