// ---------- BODY LAYOUT ---------- //
body {
    min-height: 100vh;
    overscroll-behavior: none;

    header {
        padding: $pad-sect;
        height: 100vh;
        border-bottom: $border-thick;
        background-color: $color-primary;
        box-shadow: 0 10px 20px rgba($color-darkest, .15);

        @include flex;

        @include mq(md) {
            flex-direction: row;
        }

        svg {
            height: 100%;
        }

        #nav-top {
            @include flex;

            @include mq(md) {
                width: 30%;
            }

            ul {
                @include flex($d:row, $j:space-between);

                width: 80%;

                @include mq('md') {
                    flex-direction: column;
                    width: 35%;
                }

                li {
                    width: 50%;
                    height: 50%;
                    @include flex($j:center);
                    text-align: center;

                    @include mq(md) {
                        width: 100px;
                        height: 100px;
                        margin: 10% 10%;
                    }
                }

                img {
                    width: 50%;

                    @include mq(lg) {
                        width: 80%;
                    }
                }
            }

            .nav-one {
                align-self: start;
                margin: 10% 0 -1% 0;

                @include mq(md) {
                    margin: 0;
                    align-self: center;
                }
            }
            .nav-two {
                align-self: end;
                margin: -1% 0 5% 0;

                @include mq(md) {
                    margin: 0;
                    align-self: center;
                }
            }
        }
    }

    main {
        padding: $pad-sect;
        background-color: $color-primary-dark;
    }

    footer {
        padding: $pad-sect;
        border-top: $border-thick;
        background-color: $color-primary;
        box-shadow: 0 -10px 20px rgba($color-darkest, .15);


        #nav-btm {
            @include flex($d:row, $j:space-between);

            img {
                width: 20%;
            }

            &-sm {
                width: 40%;
                text-align: center;
                font-size: 3rem;

                @include mq(md) {
                    display: none;
                }
            }
            &-md {
                display: none;

                @include mq(md) {
                    @include flex($d:row);
                    width: 80%;

                    li {
                        text-align: center;

                        img {
                            @include mq(md) {
                                width: 30%;
                            }
                        }
                    }
                }
            }
        }

        p {
            text-align: center;
        }
    }
}