// ---------- BODY LAYOUT ---------- //
body {
    min-height: 100vh;
    overscroll-behavior: none;

    header {
        padding: $pad-sect;
        height: 100vh;

        @include flex;

        @include mq(md) {
            flex-direction: row;
        }

        svg {
            width: 100%;
        }

        #nav-top {
            @include flex;

            @include mq(md) {
                width: 30%;
            }

            ul {
                @include flex($d:row, $j:space-between);

                width: 70%;

                @include mq('md') {
                    flex-direction: column;
                    width: 35%;
                }

                li {
                    width: 25px;
                    height: 25px;

                    @include mq(md) {
                        width: 100px;
                        height: 100px;
                        margin: 10% 10%;
                    }
                }
            }

            .nav-one {
                align-self: start;
                margin: 10% 0 -1% 0;

                @include mq(md) {
                    margin: 0;
                    align-self: center;
                }
            }
            .nav-two {
                align-self: end;
                margin: -1% 0 5% 0;

                @include mq(md) {
                    margin: 0;
                    align-self: center;
                }
            }
        }
    }

    main {
        padding: $pad-sect;
    }

    footer {
        padding: $pad-sect;

        #nav-btm {
            @include flex($d:row, $j:space-between);

            &-sm {
                @include mq(md) {
                    display: none;
                }
            }
            &-md {
                display: none;

                @include mq(md) {
                    @include flex($d:row);
                    width: 50%;
                }
            }
        }

        p {
            text-align: center;
        }
    }
}