// ---------- MAIN LAYOUT ---------- //
main {
    section {
        margin: 15% 0 5% 0;
        border-top: $border-thin;

        &:first-of-type {
            border: none;
        }
    }

    #welcome {
        p {
            text-align: left;
        }
    }

    #about {
        ul {
            @include flex($d:center);

            @include mq(md) {
                justify-content: right;
            }
        }

        p {
            @include mq(md) {
                text-align: left;
            }

            &:last-of-type {
                @include mq(md) {
                    text-align: right;
                }

                @include mq(lg) {
                    text-align: left;
                }
            }
        }
    }

    .about {
        &-hdst {
            width: 100%;
            border-radius: 50px 25px;
            border: $border-thin;
            margin: 5% 0;
            box-shadow: 0 5px 10px rgba($color-darkest, .25);

            @include mq(lg) {
                width: 30%;
            }
        }
        &-jobs {
            @include mq(lg) {
                @include flex($a:flex-end);
            }

            a {
                text-align: center;
                width: 25%;


                &:focus, &:hover {
                    @include focus;
                }
            }

            img {
                width: 70%;
            }

            li {
                @include flex();
                text-align: center;
                width: 70%;

                @include mq(md) {
                    flex-direction: row;
                }



                div {
                    @include mq(lg) {
                        @include flex($d:row);
                        text-align: left;
                    }

                    h3 {
                        color: $color-light;
                    }

                    p {
                        text-align: center;
                        @include mq(lg) {
                            text-align: left;
                        }
                    }
                }
            }
        }
        &-bio {
            @include mq(lg) {
                margin-left: 5%;
            }
        }
        &-personal {
            @include mq(lg) {
                @include flex($d:row);
            }
        }
        &-tech {
            @include flex($d:row);
            flex-wrap: wrap;
            margin-bottom: 35%;

            @include mq(md) {
                margin-bottom: 25%;
            }

            @include mq(lg) {
                margin-bottom: 20%;
            }

            img {
                width: 20%;
                padding: 5%;
                height: auto;
                margin: 0 2% -5% 2%;
                background-color: $color-primary-light;
                border: 5px dotted $color-tertiary;
                border-radius: 50%;


                @include mq(md) {
                    width: 10%;
                    padding: 1%;
                    margin-bottom: -15%;
                }

                @include mq(lg) {
                    margin-left: 0;
                    margin-right: 0;
                }

                &:nth-child(3n+2) {
                    margin-top: 20%;

                    @include mq(md) {
                        margin-top: 0;
                    }
                }

                &:nth-child(even) {
                    margin-top: 20%;
                }

                &:last-of-type {
                    margin-top: 10%;

                    @include mq(lg) {
                        margin-top: 0;
                    }
                }
            }
        }
    }
    #folios-cot {
        @include flex;
        flex-wrap: wrap;

        @include mq(md) {
            flex-direction: row;
        }
    }
    .folios {
        &-card {
            @include flex;
            position: relative;
            border: $border-thin;
            border-radius: $folio-brdrad-sm;
            margin: 5% 0;
            padding: 0;

            @include mq(md) {
                width: $folio-width-md;
            }

            @include mq(lg) {
                width: $folio-width-lg;
            }

            img {
                width: $folio-width-sm;
                height: $folio-height;
                border-radius: $folio-brdrad-sm;
                object-fit: cover;
            }
            h3 {
                opacity: 100;
                background: rgba($color-lightest, .5);
                @include flex($j:center);
                position: absolute;
                width: $folio-width-sm;
                height: $folio-height;
                margin: 0;
                border-radius: $folio-brdrad-sm;
            }

            &:focus, &:hover {
                outline: none;
                border: $border-focus;
                transform: scale(1.25);
            }
            &:focus > h3, &:hover > h3 {
                outline: none;
                border: $border-focus;
                background-color: rgba($color-accent-light, .5);
                text-shadow: 0 0 10px $color-accent;
                color: $color-accent-dark;
            }
 
        }
        &-links {
            a {
                background-color: $color-secondary-dark;
                width: 40%;
                text-align: center;
                padding: 2% 0;
                font-size: 1.25rem;
                text-shadow: 1px 1px 3px $color-darkest;
                border: 2px solid $color-secondary;
                border-radius: 25px 0 0 25px;

                &:last-of-type {
                    border-radius: 0 25px 25px 0;
                }

                @include mq(md) {
                    width: 30%;
                }

                &:hover, &:focus {
                    outline: none;
                    border: $border-focus;
                    background-color: rgba($color-accent-light, .25);
                    padding: 2%;
                    transform: scale(1.25);
                }
            }
        }
    }
    #js-cot-folio_detail {
        @include flex;

        .img-modal {
            border: $border-thin;
            border-radius: 50px 25px;
            box-shadow: 0 5px 10px rgba($color-darkest, .25);
        }

        img {
            width: 100%;
            height: auto;
        }

        .folios-links {
            @include flex($d:row);
        }

        h4 {
            color: $color-light;
        }

        p {
            text-align: center;
        }

        #folio-tech {
            @include flex($d:row);

            img {
                height: auto;
                width: 50px;
                padding: 1%;
                background-color: $color-primary-light;
                border: 5px dotted $color-tertiary;
                border-radius: 50%;

                @include mq(md) {
                    width: 75px;
                }

                @include mq(lg) {
                    width: 100px;
                }
            }
        }
    }
    #contact {
        ul {
            @include flex($d:row);
            text-align: center;
            
            li {
                width: 50%;

                a {
                    img {
                        width: 40%;
                        padding: 5%;
                        background-color: $color-secondary-dark;
                        border: 2px dotted $color-secondary;
                        border-radius: 50%;

                        @include mq(md) {
                            width: 25%;
                        }

                        @include mq(lg) {
                            width: 20%;
                        }
                    }

                    &:hover, &:focus {
                        outline: none;
                    }
                    &:hover > img, &:focus > img {
                        outline: none;
                        border: $border-focus;
                        background-color: rgba($color-accent-light, .25);
                        padding: 2%;
                        transform: scale(1.25);
                    }
                }
            }
        }
    }
}