// ---------- TEMPORARY STYLES TO CONTROL SIZING ---------- //
img {
    height: 50px;
    width: 50px;
}


header {
    background-color: pink;
}
main {
    background-color: purple;
}
footer {
    background-color: blue;
}