// ---------- TEMPORARY STYLES TO CONTROL SIZING ---------- //





ul {
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}

p {
    text-align: right;
}

* {
    box-sizing: border-box;
}