// ---------- TEMPORARY STYLES TO CONTROL SIZING ---------- //
img {
    height: 50px;
    width: 50px;
}

header img {
    width: 100%;
    height: auto;
}


header {
    background-color: pink;
}
main {
    background-color: purple;
}
footer {
    background-color: blue;
}

ul {
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}

p {
    text-align: right;
}

* {
    box-sizing: border-box;
}