// ---------- HEADINGS ---------- //
h1, h2 {
    text-transform: uppercase;
    color: lighten($color-accent, 30);
    font-family: $font-head;
}
h1 {
    font-size: 2rem;
    text-shadow: 3px 2px 3px $color-darkest;
}
h2 {
    font-size: 1.5rem;
    text-shadow: 3px 2px 3px $color-accent-dark;
}
h3, h4 {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-family: $font-head;
}

// ---------- PARAGRAPHS ---------- //
p {
    text-align: right;
    color: $color-light;
}
small {
    font-style: italic;
}


// ---------- LINKS ---------- //
a {
    text-decoration: none;
    color: $color-secondary;
}


// ---------- LISTS ---------- //
ul {
    padding: 0;
}
li {
    list-style: none;
}